@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Titillium+Web:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color:#0C0B0B;
    height: 90px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    height: 100%;
}

.menu {
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.icone-menu{
    height: 40px;
}
#barras {
    display: none;
}

.banner{
   
    height: 609px;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: cover;
}
.banner-cs{
    background-image: url(../img/img_banner_cs.png);

}
.banner-lol{
    background-image: url(../img/img_banner_lol.png);

}
.banner-fifa{
    background-image: url(../img/img_banner_fifa.png);

}



.posicionamento-conteudo {
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.conteudo-banner {
    width: 543px;
    height: 242px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.conteudo-banner a {
    padding:  10px;
    
    color: white;
    background-color: #AE1515;
    border-radius: 10px;
    
    font-family: "roboto";
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
}
.conteudo-banner h1 {
    font-family: "roboto";
    font-weight: bold;
    font-size: 90px;
    text-transform: uppercase;   
}
.conteudo-banner p {
    font-family: "roboto";
    font-size: 22px;
}
.destaques {
    background-color: #0C0B0B;
    height: 149px;
}

.posicionamento-jogos{
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.novidades{
    height: 753px;
    background-image: url(../img/img_banner-promocao.png);
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: cover;
}
.posicionamento-texto{
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.texto-novidades{
    width: 865px;
    height: 346px;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.texto-novidades h1{
    font-family: "roboto";
    font-weight: bold;
    font-size: 35px;  
}
.texto-novidades p{
    font-family: "roboto";
    font-size: 30px;
}
.texto-novidades a{
    width: 264px;
    color: white;
    background-color: #AE1515;
    padding: 15px;
    font-family: "roboto";
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
}
.destaquesdois{
    background-color: #0C0B0B;
    
}
.posicionamento-destaquesdois{
    
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.galeria{
    background-image: url(../img/background_vitrine.png);
    height: 1001px;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: cover;
    padding: 10px;
}
.fundo-login{
    background-image: url(../img/background_vitrine.png);
    height: 1001px;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: cover;
    padding: 10px;
    display: flex;
    justify-content: space-around; 
   
    
}
.login{
    height: 400px;
    width:400px;
      
}
form {
    background-color: white;
    }

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}


.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.produtos{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.posicionamento-produtos{
   
    background-color: white;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;   
}

.posicionamento-produtos h1{
    font-size: 20px;

}
.posicionamento-produtos a{
    background-color: #AE1515;
    color: white;
    font-family:"roboto";
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    height: 300px;
    background-color: #0C0B0B;
    
}

.posicionamento-links h1{
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

.posicionamento-links a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.posicionamento-links li{
    color: white;
}


.newsletter{
    height: 38px;
    display: flex;
    justify-content: flex-end;

}
.newsletter button{
    background-color: blue;
    color: white;
    height: 29px;
    border-color: blue;
}


.posicionamento-siga-nos h1{
    color: white;
    font-size: 20px;
    padding-top: 20px;
}





@media screen and (max-width: 1100px) {
    
    .cabecalho{
        position: relative;
    }
    
    .menu {
        display: none;
        
        position: absolute;
        top: 80px;
        right: 0px;
       
        height: 300px;
        
        flex-direction: column;
        background-color: #0C0B0B;
        justify-content: space-around;
        align-items: center;
    }
    #barras {
        display: inline-block;
    }
}
